.container {
    margin-left: 80px;
    margin-top: 80px;
    h2 {
        margin-left: 80px;
        margin-bottom: 35px;
    }
    .list {
        margin-bottom: 25px;
        label {
            font-size: 17px;
            display: inline-block;
            width: 90px;
        }
        input {
            height: 30px;
        }
    }
    button {
        display: inline-block;
        width: 70px;
        height: 30px;
        font-size: 16px;
        margin-left: 40px;
    }
}